* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  background-image: url('../background-galaxy.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.logo {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

form {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 90px;
  padding: 0 30px;
  margin: 0 auto 50px auto;
  max-width: 700px;
}

form input {
  margin-right: 10px;
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1.5rem;
}

form button {
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  background-color: #1B998B;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}

form button:hover {
  filter: brightness(93%);
}

.botoes {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
  max-width: 1000px;
}

.botoes button {
  margin: 0 30px;
  border-radius: 4px;
  border: none;
  padding: 7.5px 20px;
  background-color: #1B998B;
  font-size: 1.6rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.botoes button:enabled:hover {
  filter: brightness(93%);
}

.botoes button:disabled {
  background-color: gray;
}

.personagens {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px 25px;
  max-width: 1300px;
  margin: 0 auto 30px auto;
}

.personagens .msg {
  margin-top: 100px;
  font-size: 2rem;
  color: white;
}

.container-flip {
  width: 300px;
  height: 600px;
  perspective: 1000px;
}

.container-flip.ativo .flipper{
	transform: rotateY(180deg);
}

.flipper{
  position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.5s;
	transform-style: preserve-3d;
}

.front, .back{
  position: absolute;
  backface-visibility: hidden;
}

.back{
	transform: rotateY(180deg);
}

.personagem {
  display: inline-block;
  border-radius: 5px;
  width: 300px;
  height: 600px;
  background-color: #3c3e44;
  color: white;
  cursor: pointer;
}

.personagem img {
  display: block;
  margin: 7.5px auto;
  max-width: 95%;
  border-radius: 4px;
}

.personagem .status {
  border-radius: 4px;
  padding: 2.5px 5px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
}

.personagem.front .status {
  position: absolute;
  top: 13px;
  left: 13px;
}

.back .personagem {
  padding: 13px;
}

.back .personagem .container-nome-status {
  display: flex;
  justify-content: space-between;
}

.back .personagem .status {
  height: max-content;
  margin-top: 4px;
  margin-left: 10px;
}

.back .personagem ul {
  list-style: none;
  height: 150px;
  overflow: auto;
}

.back .personagem ul li {
  margin-bottom: 5px;
}

.personagem .status.alive{
  background-color: #29bf12;
}

.personagem .status.dead{
  background-color: #f21b3f;
}

.personagem .status.unknown{
  background-color: #a5a5a5;
}

.personagem .sobre {
  padding: 13px;
}

.personagem .nome {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  height: 80px;
}

.personagem .box-especie {
  height: 60px;
}

.personagem .especie {
  font-size: 1.475rem;
  background-color: #495057;
  padding: 0 4px;
  border-radius: 4px;
  width: min-content;
}

.personagem .titulo-caracteristica {
  color: #a5a5a5;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 1px;
}

.personagem .caracteristica {
  font-size: 1.4rem;
  font-weight: bold;
  height: 60px;
}

@media (pointer: coarse) {
  .personagem {
    cursor: initial;
  }
}